*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.site-wrapper {
	height: 100%;
}

::-ms-clear {
	display: none;
}

body {
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	position: relative;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	max-width: 100%;
	overflow-x: hidden;
}

body[data-rtl="rtl"] {
	direction: rtl;
	text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222222;
	font-weight: 400;
	margin-top: 0;
	line-height: 1.2;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

p:last-child {
	margin-bottom: 0;
}

p {
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: 0.8px;
	text-align: left;
	color: rgb(0 13 39 / 0.8);
	margin: 0;
}

a,
button {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}

a,
button,
img,
input,
span {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

*:focus {
	outline: none !important;
}

a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

button,
input[type="submit"] {
	cursor: pointer;
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.animated {
	opacity: 0;
}

.visible {
	opacity: 1!important;
}

.width-100 {
	width: 100%;
}

.position-absolute {
	position: absolute!important;
}

.float-right {
	float: right !important;
}

a,
a:active,
a:focus {
	color: #6f6f6f;
	text-decoration: none;
	transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-duration: .2s;
	-ms-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
}

.bg-gray {
	background: #ecf1f5;
}

.text-white {
	color: #fff;
}

.padding-bottom {
	padding-bottom: 150px!important;
}

.section-bottom {
	padding-bottom: 100px;
}

.section-top {
	padding-top: 100px;
}

.section {
	padding: 100px 0;
}

.sec-title {
	position: relative;
	margin-bottom: 50px;
}

.centered {
	text-align: center;
}

.sec-title .subtitle {
	position: relative;
	font-size: 36px;
	color: #0f2137;
	text-transform: capitalize;
	line-height: 50px;
	margin-bottom: 50px;
	letter-spacing: 1px;
	font-weight: 700;
}

.section-heading h3 {
	color: #0f2137;
	font-size: 27px;
	line-height: 45px;
	margin-top: 30px;
	margin-bottom: 0;
	font-weight: 500;
}

.bg-white {
	background: #fff;
}

.text-blue {
	color: #2939a2;
}

.btn-white {
	color: #3936c4;
	height: 64px;
	width: 180px;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 30px;
	font-size: 15px;
	padding: 0px 20px;
	text-align: center;
	display: block;
	letter-spacing: 1px;
	-webkit-transition: 0.6s all ease-in-out;
	-o-transition: 0.6s all ease-in-out;
	transition: 0.6s all ease-in-out;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 5px;
	border: none;
}

.btn-white:hover,
.btn-white:focus {
	color: #2939a2;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(57, 54, 196, 0.2);
	box-shadow: 0px 0px 30px 0px rgba(57, 54, 196, 0.2);
}

.bg-blue {
	background: rgba(57, 54, 196, .05);
}


/*===============  Navbar CSS =====================*/

.navbar {
	border: none;
	-webkit-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
	background: transparent;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: 0.8px;
	text-align: left;
	color: rgba(255, 255, 255, .6);
	border: none;
	margin: 0px auto;
	padding: 15px 0px;
}

.navbar * {
	-webkit-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

.navbar-brand {
	max-width: 150px;
}

.navbar-brand img {
	max-width: 100%;
}

.toggle-menu .nav-item a {
	position: relative;
}

.navbar-light .navbar-nav>.nav-item>a {
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: 0.8px;
	text-align: left;
	color: rgba(255, 255, 255, 0.6);
}

.nav>li>a {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 40px;
	padding-right: 0px;
}

.navbar-light .navbar-nav>.nav-item>a:hover {
	color: #fff;
}

.navbar-light .navbar-nav>.active>a,
.navbar-light .navbar-nav>.active>a:focus,
.navbar-light .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #fff;
}

.navbar-light .navbar-nav .nav-item:active {
	color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}

.navbar-light .navbar-toggler {
	border-color: #000;
}

.navbar-light .navbar-toggler .icon-bar {
	background-color: #000;
}

.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover {
	color: #fff!important;
	background-color: transparent;
}

.nav-white {
	background-color: #fff;
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.nav-white .navbar-nav>.nav-item>.nav-link {
	color: #171717;
}

.nav-white .navbar-nav>.nav-item>.nav-link.active,
.nav-white .navbar-nav>.nav-item>.nav-link:focus,
.nav-white .navbar-nav>.nav-item>.nav-link:hover {
	color: #4e5ac3;
}

.navbar-light .navbar-nav>.open>a,
.navbar-light .navbar-nav>.open>a:focus,
.navbar-light .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: transparent;
}

.sticky-top {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1020;
}

.navbar-brand {
	opacity: 0;
	-webkit-transform: translate(0px, -15px);
	transform: translate(0px, -15px);
	display: flex;
	align-items: center;
}

.navbar-brand.animate {
	opacity: 1!important;
	-webkit-animation: logo-anim 1s forwards;
	animation: logo-anim 1s forwards;
}

.navbar-nav li.animate {
	-webkit-animation: nav-anim 1s forwards;
	animation: nav-anim 1s forwards;
}

.navbar-nav li {
	-webkit-transform: translate(0px, -65px);
	transform: translate(0px, -65px);
	opacity: 0;
}

.navbar-nav li.animate:nth-of-type(1) {
	animation-delay: .2s;
	opacity: 1!important;
}

.navbar-nav li.animate:nth-of-type(2) {
	animation-delay: .3s;
	opacity: 1!important;
}

.navbar-nav li:nth-of-type(3) {
	animation-delay: .4s;
	opacity: 1!important;
}

.navbar-nav li:nth-of-type(4) {
	animation-delay: .5s;
	opacity: 1!important;
}

.navbar-nav li:nth-of-type(5) {
	animation-delay: .6s;
	opacity: 1!important;
}

.navbar-nav li:nth-of-type(6) {
	animation-delay: .7s;
	opacity: 1!important;
}

.navbar-nav li:nth-of-type(7) {
	animation-delay: .8s;
	opacity: 1!important;
}

@-webkit-keyframes nav-anim {
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@-webkit-keyframes logo-anim {
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.background-svg {
	position: relative;
}

.svg-box {
	position: absolute;
	width: 55%;
	overflow: visible;
	top: 0;
	right: 0;
	opacity: 0;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
	transition: 0.5s all ease-in-out;
	height: 100vh;
}

.svg-box.animate {
	opacity: 1;
	transform: scale(1);
}

.bg-inner.animate,
.svg-box-left.animate {
	opacity: 1;
}

.bg-inner,
.svg-box-left {
	opacity: 0;
	transition: all 0.6s ease-in-out;
}

.btn-nav {
	width: 159px!important;
	height: 60px;
	padding: 10px!important;
	border-radius: 30px!important;
	background-color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: 0.8px;
	text-align: left;
	color: #4e5ac3!important;
	text-transform: capitalize!important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-nav:hover {
	color: #4e5ac3!important;
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.3);
}

.nav-white .btn-nav {
	background: #4e5ac3!important;
	color: #fff!important;
}

.nav-white .btn-nav:hover {
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.3);
	color: #fff!important;
}

.top-shape {
	position: absolute;
	left: 0;
	top: 0;
}


/*=============== 04. Hero Section CSS =====================*/

.hero-section {
	height: 100vh;
	position: relative;
}

.hero-inner {
	height: 100%;
}

.hero-title {
	font-size: 18px;
	color: #19f158;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 500;
}

.hero-top {
	font-size: 45px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: 1.35px;
	text-align: left;
	color: #000d27;
	font-family: 'Open Sans', sans-serif;
}

.color-purple {
	color: #4e5ac3;
}

.home-button {
	margin-top: 30px;
}

.hero-data p {
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.79;
	letter-spacing: 0.7px;
	text-align: left;
	color: rgb(0, 13, 39, 0.6);
}

.color-text {
	color: #23dd6a;
}

.hero-dis {
	margin: 0px 0 60px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	max-width: 650px;
	letter-spacing: 1px;
	line-height: 35px;
	font-weight: 500;
}

.shape1 {
	background: url(../../images/shape.png) no-repeat scroll center center;
	height: 25px;
	line-height: 15px;
	margin: 30px 0;
	text-align: center;
}


/*=============== 05. Feature Section CSS =====================*/

.main-item-two {
	position: relative;
}

.inner-box {
	cursor: pointer;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	border-radius: 30px;
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
	background-color: #FFFFFF;
}

.icon-box svg {
	height: 105px;
}

.inner-box {
	position: relative;
	text-align: center;
	background: #FFFFFF;
	padding: 40px 25px;
	margin-bottom: 30px;
	border: solid 2px transparent;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.inner-box:hover {
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
	border: solid 2px #4E5AC3;
	background-color: #FFFFFF;
}

.icon-box {
	position: relative;
	display: flex;
	margin: 0 auto 30px;
	width: 150px;
	height: 150px;
	align-items: center;
	justify-content: center;
}

.box-head {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: 1px;
	text-align: center;
	color: #000D27;
	margin: 0 0 20px;
	height: 70px;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.inner-box:hover .box-head {
	color: #4E5AC3;
}

.text {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.79;
	letter-spacing: 0.7px;
	text-align: center;
	color: #000D27;
	height: 200px;
}

.a-head {
	font-size: 35px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.83;
	letter-spacing: 1.75px;
	color: #000D27;
	margin-bottom: 30px;
}

.color-purple {
	color: #4E5AC3!important;
}

.btn-all {
	width: auto;
	height: 60px;
	padding: 20px 36px 20px;
	border-radius: 35px;
	border: solid 2px #4E5AC3;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.19;
	letter-spacing: 0.91px;
	text-align: center;
	color: #4E5AC3;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.btn-all:hover {
	background: #4E5AC3;
	color: #fff;
}

.bg-gray {
	background-color: rgb(78 90 195 / 0.03);
}

.section {
	padding: 60px 0;
}

.section-bottom {
	padding-bottom: 60px;
}

.section-top {
	padding-top: 60px;
}

.sec-title h2 {
	margin: 0;
}

.sec-title.centered {
	text-align: center;
}

.sec-title {
	position: relative;
	margin-bottom: 70px;
}

.centered {
	text-align: center;
}

.sec-title .subtitle {
	position: relative;
	font-size: 30px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.83;
	letter-spacing: 1.5px;
	text-align: center;
	color: #000D27;
	text-transform: uppercase;
}

.sec-title p {
	position: relative;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: 0.8px;
	text-align: center;
	color: rgb(0 13 39 / 0.5);
}

.data-value {
	font-size: 45px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.56;
	letter-spacing: 2.25px;
	text-align: center;
	color: #4E5AC3;
	padding: 30px 0px;
	margin-bottom: 30px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

.data-value:before {
	position: absolute;
	content: '';
	width: 42.9px;
	height: 3px;
	background: rgb(0 13 39 / 0.1);
	bottom: 0;
	left: 40%;
}


/*=============== 3.2 Counter-box CSS =====================*/

.Counter-box {
	position: relative;
}

.counter-list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
}

.counter-list li {
	width: calc(33.33% - 40px);
	padding: 0 40px;
	text-align: center;
	border-right: 1px solid rgb(0 13 39 / 0.1);
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.counter-list li:last-child {
	border: none;
}

.a-no {
	font-size: 35px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.71;
	letter-spacing: 1.75px;
	text-align: center;
	color: #000D27;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.counter-value {
	position: relative;
	padding: 30px 0px;
}

.counter-value:before {
	position: absolute;
	content: '';
	width: 42.9px;
	height: 3px;
	background: rgb(0 13 39 / 0.1);
	bottom: 0;
	left: 30%;
}

.con-bg {
	background: url(../../images/con-bg.png) no-repeat scroll center center;
	padding: 60px 0;
	position: relative;
}

.con-bg:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgb(0 1 7 / 0.8);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.footer {
	background-color: #4E5AC3;
	text-align: center;
	padding: 20px 0;
}

.footer-list {
	padding: 0px 0px 20px;
	margin: 0;
}

.footer-list li a {
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.95;
	letter-spacing: 0.5px;
	text-align: center;
	color: #FFFFFF;
	padding: 0 20px;
}

.foot-text {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.06;
	letter-spacing: 0.45px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

.con-inner {
	padding: 70px 100px;
	border-radius: 30px;
	border: solid 2px #FFFFFF;
}

.con-left {
	font-size: 25px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1.43px;
	text-align: left;
	color: #FFFFFF;
}

.counter-list li p {
	text-align: center;
}